body {
	background-color: #FF6A00;
}

header ul {
	list-style-type: none;
}

header ul li, .player ul li {
	cursor: pointer;
	display: inline;
	font-stretch: 700;
	color: white;
}

header img {
	height: 50px;
}

#pre, #next {
	cursor: pointer;
}